body {
  background: radial-gradient(circle at center, #000, #030303);
  color: #00ffff;
  font-family: monospace;
  text-align: center;
  padding-top: 30vh;
  font-size: 2em;
  text-shadow: 0 0 10px #0ff;
}